.colorSectionBanner {
  background-color: black;
  background-image: url("https://c.wallhere.com/photos/37/71/1280x800_px_Allstars_black_Chucks_shoes-817969.jpg!d");
}
.divColor {
  color: white;
}

.nav {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

/* Comienzo Footer */
footer {
  color: rgb(199, 199, 199);
  background-color: rgb(241, 237, 237);
  font-size: 1rem;
}
footer ul li {
  list-style: none;
  padding: 0;
}
footer a {
  text-decoration: none;
  font-size: 0.7rem;
  color: grey;
  padding-bottom: 10px;
}
footer a:hover {
  text-decoration: underline;
  color: grey;
}
/* Fin del Footer */
