/* Comienzo Banner */
.colorSectionBanner {
  text-align: center;
  color: white;
  background-size: cover;
  background-color: #1c1c1fd5;
  background-blend-mode: soft-light;
  width: 100%;
  height: 400px;
  background-image: url("https://www.authogar.com/media/wysiwyg/porto/homepage/content/20/home_shoes.jpg");
}
.divColor {
  color: white;
}

/* Comienzo Footer */
footer {
  color: rgb(199, 199, 199);
  background-color: rgb(241, 237, 237);
  font-size: 1rem;
}
footer ul li {
  list-style: none;
  padding: 0;
}
footer a {
  text-decoration: none;
  font-size: 0.7rem;
  color: grey;
  padding-bottom: 10px;
}
footer a:hover {
  text-decoration: underline;
  color: grey;
}
/* Fin del Footer */
